.button{
	-fx-font-size:36px;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
}

.red{
	-fx-text-fill: #ff0000;
}

.root{
	-fx-background-color:#123456;
	}
	
.label{
	-fx-text-fill: #ffffff;
	-fx-font-size:2em;
	-fx-font-family: "Impact";
	-fx-effect: dropshadow(gaussian, yellow, 3, 0, 2, 2);
}

.label:hover{
	-fx-text-fill: #00ff00;
}